[Unit]
Description=My csye6225 app
After=network.target

[Service]
Type=simple
User=csyeuser
Group=csyegroup
WorkingDirectory=/opt/csyeuser/webapp/
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=3

[Install]
WantedBy=cloud-init.target